*{
    box-sizing: border-box;
}
body{
    font-family: 'PTSerif Regular', sans-serif;
    font-size: 16pt;
    z-index: 1000;
}
u{
    text-decoration: underline;
    color: rgb(208, 57, 88);
}
a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
}
p{
    font-size: 0.9em;
    padding: 40px 0 20px 0;
}
.container{
    width: 1012px;
    margin: auto;
}
header{
    background-color: rgb(198, 187, 166);
    position: sticky;
    top: 0;
    z-index: 990;
}
.main-menu{
    width: 55%;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-content: center;
    line-height: 60px;
    padding-top: 30px;
}
.menu a{
    padding: 10px;
    border: 1px solid rgb(198, 187, 166);
    border-radius: 10px;
    font-size: 14pt;
    font-weight: 600;
}
.menu a:hover, .menu a:active, .current a{
    color: white;
    border: 1px solid rgb(208, 57, 88);
    border-radius: 10px;
    background-color: rgb(208, 57, 88);
    padding: 10px;
}
.logo{
    padding: 30px 0;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row-wrap{
    flex-wrap: wrap;
    justify-content: space-around;
}
.row-left{
    display: flex;
    flex-direction: row;
}
/*---------------------------------------------------------main---------------------------------------------------------*/
h1{
    font-size: 60pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
#home{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    padding: 40px 0;
}
.col-50{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 100px 0;
}
.col-40{
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.col-55{
    width: 55%;
}
.pink{
    color: rgb(208, 57, 88);
}

form{
    position: absolute;
    top:120px;
    height: 520px;
    color: white;
    background-color: rgb(208, 57, 88);
    border-radius: 5px;
    border-color: rgb(208, 57, 88);
}
form h6{
    margin: 35px;
    text-align: center;
}
form input{
    width: 88%;
    padding: 17px;
    margin: 8px 25px;
    border-radius: 10px;
    border-color: white;
    font-size: 0.7em;
}
form button{
    width: 88%;
    padding: 17px;
    margin: 8px 25px;
    border-radius: 10px;
    border-color: black;
    background-color: black;
    font-size: 0.9em; 
    color: white;
}
#accept{
    display: none;
}
#accept+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
label::before{
    content: '';
    width: 0.7em;
    height: 0.7em;
    margin: 15px 28px;
    border: 1px solid white;
    border-radius: 3px;
    display: inline-block;
    background-color: white;
}
#accept:not(:disabled):not(:checked)+label:hover::before {
    border-color: #929292;
  }
#accept:checked+label::before {
    border-color: #929292;
    background-color: #929292;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
input:focus{
    outline: none;
}
#about, #services{
    padding: 40px 0 0 0;
}
h2{
    font-size: 40pt;
    font-weight: 600;
    padding: 20px 0 ;
}
.col-3{
    width: 18%;
    margin: 50px 0;
    text-align: center;
}
.story{
    background-color: rgb(208, 57, 88);
    color: white;
}
.btn-story{
    background-color: rgb(227, 213, 184);
    color: black;
    padding: 20px;
    width: 270px;
    margin: 30px;
    font-size: 0.9em;
    border: 1px solid rgb(227, 213, 184);
    border-radius: 10px;
    font-weight: 600;
}
.btn-story:hover, form button{
    cursor: pointer;
}
#services{
    background-color: rgb(227, 213, 184);
    text-align: center;
}
#gallery{
    text-align: center;
}
.col-33{
    width: 32%;
    padding: 10px 10px 0 10px;
    margin: 20px 10px 0 10px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}
li{
    padding: 5px;
    font-size: 0.8em;
}
.btn-prc{
    background-color: rgb(227, 213, 184);
    color: black;
    padding: 10px;
    font-size: 0.9em;
    border: 1px solid rgb(227, 213, 184);
    border-radius: 10px;
    font-weight: 600;
    width: 70%;
}
.btn-prc:hover{
    background-color: rgb(208, 57, 88);
    border: 1px solid rgb(208, 57, 88);
    color: white;
    cursor: pointer;
}
.btn-story:focus, .btn-prc:focus, form button, input{
    outline: none;
}
.round-guy{
    width: 107px;
    height: 107px;
    border-radius: 50%;
    background-image: url(images/guy.png);
    background-repeat: no-repeat;
    background-position: -70px -5px;
    position: absolute;
    top: 10%;
    left: 87%;
    box-shadow: 0 0 15px rgb(197, 185, 161);
}
.round-girl{
    width: 107px;
    height: 107px;
    border-radius: 50%;
    background-image: url(images/girl.png);
    background-repeat: no-repeat;
    background-position: -10px -5px;
    box-shadow: 0 0 15px rgb(197, 185, 161);
    position: absolute;
    top: 10%;
    left: 87%;
}
.answer{
    padding: 25px 70px 25px 25px;
    position: relative;
    border: 1px solid white;
    border-radius: 10px;
    text-align: left;
}
.answer-beige{
    padding: 20px 70px 20px 20px;
    position: relative;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(227, 213, 184);
    text-align: left;
}
.answer p, .answer-beige p{
    padding: 10px;
}
.gal{padding: 90px 10px;
}
.gallery1, .gallery2, .gallery3, .gallery4, .gallery5, .gallery6{
    width: 107px;
    height: 107px;
    border-radius: 100%;
    padding: 10px;
    background-repeat: no-repeat;
    box-shadow: 0 -5px 20px rgb(197, 185, 161);
}
.gallery1{
    background-image: url(images/gallery1.png);
    background-position: -140px -10px;
}
.gallery2{
    background-image: url(images/gallery2.png);
    background-position: -100px -40px;
}
.gallery3{
    background-image: url(images/gallery3.png);
    background-position: -30px 0px;
}
.gallery4{
    background-image: url(images/gallery4.png);
    background-position: -40px 0px;
}
.gallery5{
    background-image: url(images/gallery5.png);
}
.gallery6{
    background-image: url(images/gallery6.png);
    background-position: -190px -120px;
}
.col-45{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 100px 0;
}
.copyright{
    width: 60%;
}
footer{
    background-color: black;
    color: white;
    padding: 20px 0;
    font-size: 0.9em;
}
/*---------------------------------------------------------adaptive---------------------------------------------------------*/
/*desktop*/
@media(min-width:1200px){

}
/*laptop*/
@media(max-width:992px){
    .container{
        width: 100%;
    }
    .logo{
        margin: auto;
    }
    .main-menu{
        margin: auto;
        overflow-x: auto;
    }
    .col-3, .col-33, .col-40, .col-45{
        width: 50%;
    }  
    form{
        width: 70%;
        position: static;
        margin: auto;
    }  
    form input{
        width: 85%;
    } 
    .row, .row-wrap{
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .gal{
        margin: 20px;
    }
}
/*tablet*/
@media(max-width:768px){
    .container{
        width: 100%;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .row-wrap{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        justify-content: center;
    }
    .logo{
        margin: auto;
    }
    .main-menu{
        margin: auto;
        overflow-x: auto;
    }
    .col-40, .col-60, .col-50, .col-55, .col-45{
        width: 90%;
        text-align: center;
    }
    form{
        width: 70%;
        position: static;
        margin: auto;
    }
    .col-3, .col-33{
        width: 70%;
        margin: auto;
    }
    #story{
        text-align: center;
    }
    .button-story-div{
        text-align: center;
    }
    .gal{
        padding: 0;
    }
}
/*mobile*/
@media(max-width:667px){
    .container{
        width: 100%;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .row-wrap{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        justify-content: center;
    }
    .logo{
        margin: auto;
    }
    .main-menu{
        margin: auto;
        overflow-x: auto;
    }
    .col-40, .col-60, .col-50, .col-55, .col-45{
        width: 100%;
        text-align: center;
    }
    form{
        width: 100%;
        position: static;
    }
    .col-3, .col-33{
        width: 100%;
    }
    #story{
        text-align: center;
    }
    .gal{
        padding: 0;
    }
    .button-story-div{
        text-align: center;
    }
} 